{% extends 'layout/basic.html' %}

{% block content %}
{% for category in categories %}
    <p><a href="{% url 'by_category' category.pk %}">{{ category }}</a></p>
    {% for lp_temp in lp %}
        <table id="tabl_index">
            <tr>{% if lp_temp.category  ==  category %}</tr>
            <tr>
                <td>{{ lp_temp.fam }}&nbsp{{ lp_temp.name }}&nbsp{{ lp_temp.ot }}</td>
                <td>{{ lp_temp.addr }}</td>
                <td>{{ lp_temp.birthday }}</td>
            </tr>
            {% endif %}
        </table>
    {% endfor %}
{% endfor %}
{% endblock %}