header h1 {
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
}
nav {
    font-size: 10pt;
    width: 150px;
    float: left;
    padding-top: 30px;
}
nav a {
    display: block;
    margin: 10px 0px;
}
section {
    margin-left: 170px;
}
section a:hover {
    color: #5F0020;
}
#tabl_index {
    width: 80%;
}
#tabl_index td {
    width: 250px;
    border: 2px;
    border-style: solid;
    border-color: #F0F0F0;
}

ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}
ul a {
    text-decoration: none;
}
ul a:hover {
    color: #5F00FF;
}
ul li {
    display: inline;
    width: 200px;
    background: #FFE4C4;
    margin-left: 10px;
    padding: 5px;
}

#people_edit th {
    text-align: right;
}