header h1 {
    font-size: 20pt;
    text-transform: uppercase;
    text-align: center;
}
nav {
    font-size: 10pt;
    width: 150px;
    float: left;
}
nav a {
    display: block;
    margin: 10px 0px;
}
section {
    margin-left: 170px;
}
#tabl_index {
    width: 80%;
}
#tabl_index td {
    width: 250px;
    border: 2px;
    border-style: solid;
    border-color: #F0F0F0;
}